`<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='./dist/tw_output.css'>
</head>

<body class="bg-background font-poppins text-text">
    <%-include ('components/navbar.ejs')%>

        <div class="flex w-full mt-24">
            <div class="basis-1/2 flex justify-center">Primary</div>
            <div class="basis-1/2 flex justify-center">Friend Requests</div>
        </div>

</body>

</html>