<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href='./dist/tw_output.css'>
</head>

<body class="bg-background font-paragraphs">
    <%-include ('components/navbar.ejs')%>
        <div class="text-text relative mt-28 px-6 sm:px-44 md:px-60 lg:px-96">
            <div class="flex justify-between">
                <profileName class="flex flex-col items-start justify-center space-y-1">
                    <h1 class="flex items-end space-x-2">
                        <span class="text-2xl" id="user-display-name">
                            NiggaFucker
                        </span>
                    </h1>
                    <p class="text-lg text-text text-opacity-90" id="user-name">
                        @godamnbro
                    </p>
                </profileName>
                <div class="relative h-28 w-28">
                    <img src="https://wallpapers.com/images/hd/cool-profile-picture-minion-13pu7815v42uvrsg.jpg" alt=""
                        class="h-full w-full rounded-full object-cover shadow-md" id="user-profile-pic" />
                    <div
                        class="absolute inset-0 flex items-center justify-center opacity-0 transition duration-300 hover:opacity-100">
                        <div
                            class="rounded-full text-white bg-black bg-opacity-70 w-full h-full flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-10 w-10">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-1 items-start">
                <div id="user-bio">
                    esti ciora maxima
                </div>
                <div class="flex space-x-1 text-text text-opacity-90">
                    <p id="user-friends">25</p>
                    <span>friends</span>
                </div>
            </div>
            <buttons
                class="flex flex-col xs:flex-row justify-between items-center space-y-2 xs:space-y-0 xs:space-x-2 mt-4">
                <editProfile
                    class="py-1 w-full px-4 bg-accent hover:bg-secondary transition-all duration-400 text-center rounded-md cursor-pointer">
                    Edit Profile</editProfile>
                <settings
                    class="py-1 w-full px-4 bg-gray hover:bg-lightgray transition-all duration-400 text-center rounded-md cursor-pointer">
                    Settings</settings>
            </buttons>
        </div>

        <posts class="flex flex-col items-center justify-center mt-10">
            <h1 class="flex items-center justify-center text-center text-lg text-opacity-90">Posts</h1>
            <postsGrid class="flex justify-center">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-1">
                    <div class="w-full h-40 cursor-pointer overflow-hidden rounded-md">
                        <img src="https://wallpapers.com/images/hd/cool-profile-picture-minion-13pu7815v42uvrsg.jpg"
                            alt="Post 1" class="w-full h-full object-fit">
                    </div>
                    <div class="w-full h-40 cursor-pointer overflow-hidden rounded-md">
                        <img src="https://wallpapers.com/images/hd/cool-profile-picture-minion-13pu7815v42uvrsg.jpg"
                            alt="Post 1" class="w-full h-full object-fit">
                    </div>
                    <div class="w-full h-40 cursor-pointer overflow-hidden rounded-md">
                        <img src="https://wallpapers.com/images/hd/cool-profile-picture-minion-13pu7815v42uvrsg.jpg"
                            alt="Post 1" class="w-full h-full object-fit">
                    </div>
                </div>
            </postsGrid>
        </posts>
</body>


<script src="./dist/components/profile/main.js"></script>

</html>